.calculator {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    row-gap: 40px;
    width: 100%;
    padding: 40px 35px;
    max-width: 375px;
    border-radius: 40px;
    backdrop-filter: blur(100px);
    background-color: var(--color-background);
    min-height: 80vh;
    transition: all .4s ease;
    box-shadow: var(--box-shadow);

    &__buttons {
        display: grid;
        grid-template-areas:
            "btn-e    btn-pi   btn-sin  btn-cos"
            "btn-ac   btn-del  btn-div  btn-mul"
            "btn-7    btn-8    btn-9    btn-sub"
            "btn-4    btn-5    btn-6    btn-add"
            "btn-1    btn-2    btn-3    btn-eq"
            "btn-0    btn-0    btn-dot  btn-eq"
            "bracket-open bracket-close btn-pow btn-sqrt";
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(7, 60px);
        gap: 20px;
    }

    // Константы
    &__button#btn_e {
        grid-area: btn-e;
    }

    &__button#btn_pi {
        grid-area: btn-pi;
    }

    &__button#btn_sin {
        grid-area: btn-sin;
    }

    &__button#btn_cos {
        grid-area: btn-cos;
    }

    // Операторы очистки
    &__button#btn_ac {
        grid-area: btn-ac;
    }

    &__button#btn_delete {
        grid-area: btn-del;
    }

    // Арифметические операторы
    &__button#btn_divide {
        grid-area: btn-div;
    }

    &__button#btn_multiply {
        grid-area: btn-mul;
    }

    &__button#btn_minus {
        grid-area: btn-sub;
    }

    &__button#btn_plus {
        grid-area: btn-add;
    }

    &__button#btn_pow {
        grid-area: btn-pow;
    }

    &__button#btn_sqrt {
        grid-area: btn-sqrt;
    }

    // Скобки
    &__button#btn_bracket-open {
        grid-area: bracket-open;
    }

    &__button#btn_bracket-close {
        grid-area: bracket-close;
    }

    // Цифры
    &__button#btn_7 {
        grid-area: btn-7;
    }

    &__button#btn_8 {
        grid-area: btn-8;
    }

    &__button#btn_9 {
        grid-area: btn-9;
    }

    &__button#btn_4 {
        grid-area: btn-4;
    }

    &__button#btn_5 {
        grid-area: btn-5;
    }

    &__button#btn_6 {
        grid-area: btn-6;
    }

    &__button#btn_1 {
        grid-area: btn-1;
    }

    &__button#btn_2 {
        grid-area: btn-2;
    }

    &__button#btn_3 {
        grid-area: btn-3;
    }

    &__button#btn_0 {
        grid-area: btn-0;
    }

    &__button#btn_dot {
        grid-area: btn-dot;
    }

    &__button#btn_equals {
        grid-area: btn-eq;
    }

    &__button {
        border-radius: 16px;
        font-size: 32px;
        cursor: pointer;
        color: #fff;
        backdrop-filter: blur(12px);
        transition: all .4s ease;
        color: var(--color-primary);
        background-color: var(--color-surface-alt);

        &--small {
            height: 40px;
            border-radius: 24px;
            font-size: 22px;
            align-self: end;
        }

        &--primary {
            background-color: var(--color-primary);
            color: var(--color-secondary);
        }

        &--light {
            background-color: var(--color-primary);
            color: rgb(178, 218, 255);
        }

        &--gray {
            background-color: var(--color-gray-medium);
            color: var(--color-gray-light);
        }
    }
}